* {
    margin: 0;
    padding: 0;
}

h1{
    background-color: black;
    color: aliceblue;
    height: 5rem;
    text-align: center;
    line-height: 5rem;

}
.choice{
            height: 165px;
            width: 165px;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.Score-Board{
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
    font-size: 3rem;
    

}
.msg-container{
    margin-top: 2rem;
    text-align: center;

}
#msg{
    background-color: aqua;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 5 rem;
    border-radius: 1rem;
    
}


